[Desktop Entry]
Type=Application
Name=Easy Archive
Comment=文字コードを自動判定するZIP解凍・圧縮ツール
Exec=easy-archive-gui
Icon=easy-archive
Terminal=false
Categories=Utility;Archiving;
